In [25]:
a = 'C,B,A'
b = ['F','G','H']
c = a.split(',')
d = c + b
d[0] = 'K'
e = d.pop(2)
print(e)
del d[1:4]
d.append('U')
print(d)

A
['K', 'H', 'U']

In [44]:
a = input('')
print(a[4])

12345678
5

In [42]:
a = 'My ID is B1206032'
b = a.split(' ')
print(len(b))
print(len(b[3]))

4
8

In [39]:
a = 'I\'m a student'
b = list(a)
print(b[2])

m